@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --green:#27ae60;
    --dark-color:#219150;
    --black:#444;
    --light-color:#666;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
    --scarlet:#F92F00;
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition:all .2s linear;
    transition:width none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar{
    width:1rem;
}

html::-webkit-scrollbar-track{
    background:transparent;
}

html::-webkit-scrollbar-thumb{
    background:var(--black);
}

section{
    padding:5rem 9%;
}

.heading{
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
}

.heading::before{
    content: '';
    position: absolute;
    top:50%; left:0;
    transform: translateY(-50%);
    width: 100%;
    height:.01rem;
    background: rgba(0,0,0,.1);
    z-index: -1;
}

.heading span{
    font-size: 3rem;
    padding:.5rem 2rem;
    color:var(--black);
    background: #fff;
    border:var(--border);
}

.btn{
    margin-top: 1rem;
    display:inline-block;
    padding:.9rem 3rem;
    border-radius: .5rem;
    color:#fff;
    background:var(--green);
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500;
}

.btn:hover{
    background:var(--dark-color);
}


/*header*/

header .header-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#fff;
    width: 100%;
    padding:10px 20px;

    z-index: 1000;
  }
  
 


header .header-1 .icons a{
    font-size: 20px;
    color:#27ae60;
    margin:10px;
  }
  
  header .header-1 .icons a:hover{
    color:var(--scarlet);
  }
  header .header-1 .icons #login-btn{
    font-size: 20px;
    color:#27ae60;
    margin:10px;
  }
  
  header .header-1 .icons #login-btn:hover{
    color:var(--scarlet);
  }
  

  
  
  
  header .header-2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#27ae60;
    width: 100%;
    padding:10px 20px;

    z-index: 1000;
  }

  header .header-2 .logo img{
    height: 7rem;
}
  
  header .header-2 .navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
  }
  
  header .header-2 .navbar ul li{
    margin:10px;
  }
  
  header .header-2 .navbar ul li a{
    color:#fff;
    font-size: 20px;
  }
  
  header .header-2 .navbar ul li a:hover{
    color:#fff8;
  }

  
 
  
  #menu{
    font-size: 30px;
    color:#fff;
    cursor: pointer;
    display: none;
  }
  
  header .header-2.sticky{
    position: fixed;
    top: 0; left: 0;
    box-shadow: 0 3px 5px #333;
  }
/*header*/

/*Login*/
.login-form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255,255,255,.9);
    position:fixed;
    top:0; right:-105%;
    z-index: 10000;
    height:100%;
    width:100%;
}

.login-form-container.active{
    right:0;
}

.login-form-container form{
    background:#fff;
    border:var(--border);
    width:40rem;
    padding:2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:2rem;
}

.login-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.login-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.login-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.login-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.login-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.login-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.login-form-container form p a{
    color:var(--green);
    text-decoration: underline;
}

.login-form-container #close-login-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}


  /*gallery*/
  .wrapper{
    margin: auto;
    max-width: 1100px;
  }
  .wrapper nav{
    display: flex;
    justify-content: center;
  }
  .wrapper .items{
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
  }
  .items span{
    padding: 20px 15px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    color: var(--black);
    border-radius: 50px;
    border: 2px solid var(--light-color);
    transition: all 0.3s ease;
    margin-top: 30px;
  }
  .items span.active,
  .items span:hover{
    color: #fff;
    background: #007bff;
  }
  
  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .gallery .image{
    width: calc(100% / 4);
    padding: 7px;
  }
  .gallery .image span{
    display: flex;
    width: 100%;
    overflow: hidden;
  }
  .gallery .image img{
    width: 100%;
    vertical-align: middle;
    transition: all 0.3s ease;
  }
  .gallery .image:hover img{
    transform: scale(1.1);
  }
  .gallery .image.hide{
    display: none;
  }
  .gallery .image.show{
    animation: animate 0.4s ease;
  }
  @keyframes animate {
    0%{
      transform: scale(0.5);
    }
    100%{
      transform: scale(1);
    }
  }
  
  .preview-box{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    background: #fff;
    max-width: 450px;
    width: 100%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    border-radius: 3px;
    padding: 0 5px 5px 5px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
  }
  .preview-box.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
  }
  .preview-box .details{
    padding: 13px 15px 13px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .details .title{
    display: flex;
    font-size: 18px;
    font-weight: 400;
  }
  .details .title p{
    font-weight: 500;
    margin-left: 5px;
  }
  .details .icon{
    color: #007bff;
    font-style: 22px;
    cursor: pointer;
  }
  .preview-box .image-box{
    width: 100%;
    display: flex;
  }
  .image-box img{
    width: 100%;
    border-radius: 0 0 3px 3px;
  }
  .shadow{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
    display: none;
    background: rgba(0,0,0,0.4);
  }
  .shadow.show{
    display: block;
  }

  /*footer*/
  .footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 2fr));
    gap:2.5rem;
}
.footer .box-container .box .footer-logo{
    width:70%;
}
.footer .box-container .box .footer-text{
    font-size: 2.2rem;
    color:var(--black);
    padding:2rem 0rem;
}

.footer .box-container .box h3{
    font-size: 2.2rem;
    color:var(--black);
    padding:2rem 2rem;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.4rem;
    color:var(--light-color);
    padding:1rem 0rem;
}

.footer .box-container .box a i{
    color:var(--green);
    padding-right: .5rem;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}


.footer .share{
    padding:1rem 0;
    text-align: center;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:#fff;
    background:var(--green);
    margin:0 .3rem;
    border-radius: 50%; 
}

.footer .share a:hover{
    background:var(--scarlet);
}

.footer .credit{
    border-top: var(--border);
    margin-top: 2rem;
    padding:0 1rem;
    padding-top: 2rem;
    font-size: 1.5rem;
    color:var(--light-color);
    text-align: center;
}

.footer .credit span{
    color:var(--green);
}



/* media queries  */
@media (max-width: 1000px) {
  .gallery .image{
    width: calc(100% / 3);
  }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    section{
        padding:3rem 2rem;
    }

    .gallery .image{
      width: calc(100% / 3);
    }

}
@media (max-width: 800px) {
  .gallery .image{
    width: calc(100% / 2);
  }
}

@media (max-width:768px){

    html{
        scroll-padding-top: 0;
    }

    body{
        padding-bottom: 6rem;
    }

    header .header-2 #menu{
        display: block;
        z-index: 1000;
      }
    
      header .header-2 .navbar{
        position: fixed;
        top:-1000px; left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
    
      header .header-2 .navbar ul{
        flex-flow: column;
        width: 250px;
        border-radius: 5px;
        padding:30px 10px;
        background:#27ae60;
        box-shadow: 0 0 0 100vh rgba(0,0,0,.5),
                    0 3px 5px #000;
      }
    
      header .header-2 .navbar ul li{
        width:100%;
        text-align: center;
      }
    
      header .header-2 .navbar ul li a{
        font-size: 25px;
        display: block;
      }
    
      header .header-2 .navbar.nav-toggle{
        top:55%;
        opacity: 1;
        z-index: 1000;
      }

}
@media (max-width: 700px) {
  .wrapper nav .items{
    max-width: 600px;
  }
  nav .items span{
    padding: 7px 15px;
  }
}
@media (max-width: 600px) {
  .wrapper{
    margin: 30px auto;
  }
  .wrapper nav .items{
    flex-wrap: wrap;
    justify-content: center;
  }
  nav .items span{
    margin: 5px;
  }
  .gallery .image{
    width: 100%;
  }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }
    header .header-1{
        flex-flow: column;
      }
    
      header .header-1 form{
        padding-top: 10px;
      }


}
  

  

  

  